# F1-Goat - What is the Purpose? 

Original date from here: [Source] (https://www.kaggle.com/datasets/jtrotman/formula-1-race-data/)

# Aims / Goals for this project: 

- Understand how the changes to the historic point systems could have impacted world championships 
- Can we normalise the points from different championships to see how drivers compare 

Would cvhampionships have been won or lost with point systems from different periods? 

History of Point Systems [Wiki] (https://en.wikipedia.org/wiki/List_of_Formula_One_World_Championship_points_scoring_systems#Points_scoring_systems)

- top 5 (8, 6, 4, 3, 2) + 1 for fastest lap
- top 6 (8, 6, 4, 3, 2, 1)
- top 6 (9, 6, 4, 3, 2, 1)
- top 6 (10, 6, 4, 3, 2, 1)
- top 8 (10, 8, 6, 5, 4, 3, 2, 1)
- top 10 (25, 18, 15, 12, 10, 8, 6, 4, 2, 1) 
- 2014 = Double points for last race
- top 10 (25, 18, 15, 12, 10, 8, 6, 4, 2, 1) + 1 for fastest lap

-----------

Perhaps we can also look at greatest qualifiers ? 
- would championships look different if there was an extra point for pole qualification position?

# Output: 

- We want to evaluate the existing data
- we want to see is we changed scoring in different seasons would that change the driver/constructor championships?
- can we find number of championships by country? 
- need some kind of frontend to allow people to toggle the different things that we try in the backend

In [2]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.1.1-cp39-cp39-macosx_10_9_x86_64.whl (11.8 MB)
     |████████████████████████████████| 11.8 MB 3.9 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/dickinsd/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Collecting numpy>=1.22.4
  Downloading numpy-1.26.1-cp39-cp39-macosx_10_9_x86_64.whl (20.6 MB)
     |████████████████████████████████| 20.6 MB 14.3 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.1 pandas-2.1.1 pytz-2023.3.post1 tzdata-2023.3
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.

In [3]:
import pandas as pd

In [4]:
constructors = pd.read_csv('sourceData/constructors.csv')
constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [5]:
drivers = pd.read_csv('sourceData/drivers.csv')
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [6]:
raceID = pd.read_csv('sourceData/races.csv')
raceID.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [12]:
raceID

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00
1097,1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N
1098,1118,2023,20,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00
1099,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N
1100,1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N

In [8]:
results = pd.read_csv('sourceData/results.csv')
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [11]:
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26195,26201,1116,4,117,14,0,\N,R,16,0.0,49,\N,\N,47,7,1:39.954,198.559,140
26196,26202,1116,857,1,81,10,\N,R,17,0.0,10,\N,\N,5,19,1:42.705,193.240,21
26197,26203,1116,839,214,31,8,\N,R,18,0.0,6,\N,\N,2,20,1:44.789,189.397,130
26198,26204,1116,1,131,44,1,\N,D,19,0.0,56,\N,\N,42,4,1:39.582,199.301,2
26199,26205,1116,844,6,22,3,\N,D,20,0.0,56,\N,\N,\N,0,\N,\N,2

In [9]:
raceID.loc[1000]

raceId                                                      1013
year                                                        2019
round                                                          4
circuitId                                                     73
name                                       Azerbaijan Grand Prix
date                                                  2019-04-28
time                                                    12:10:00
url            http://en.wikipedia.org/wiki/2019_Azerbaijan_G...
fp1_date                                                      \N
fp1_time                                                      \N
fp2_date                                                      \N
fp2_time                                                      \N
fp3_date                                                      \N
fp3_time                                                      \N
quali_date                                                    \N
quali_time                                                    \N
sprint_date                                                   \N
sprint_time                                                   \N
Name: 1000, dtype: object

Don't understand why race 1 doesn't have raceID number 1 
Looks like the data was zeroed for the 2009 season at which point it has both counted back and forward? 

------------

Early look at the data - I think the files that are most useful to me at the minute are: 

- Results
- Drivers
- Constructors

I think we need to join some of this data 
We also want to remove the things that are too much for this project 

I think we need: 

[results] - Race ID (races.raceid)
[results] - Driver ID (drivers.driverid)
[results] - Constructor ID (constructors.constructorid)
[results] - Points (results.points)
[results] - Position (results.position)
[races] - Year (races.year)
[drivers] - dirver name (drivers.forename)
[drivers] - dirver name (drivers.surname)
[drivers] - dirver code (drivers.code)
[drivers] - dirver nationality (drivers.nationality)
[constructors] - constructors name (constructors.name)
[constructors] - constructors nationality (constructors.nationality)

In [14]:
results_race = pd.merge(results,raceID).copy()
results_race

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1521,90,15,4,7,9,7,7,7,2.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,1522,90,14,1,5,12,8,8,8,1.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,1523,90,11,16,10,7,9,9,9,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,1524,90,21,15,11,14,10,10,10,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,1525,90,32,19,15,19,11,11,11,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14944,20318,728,413,172,7,12,\N,R,19,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
14945,20319,728,368,89,20,17,\N,R,20,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
14946,20320,728,310,176,15,0,\N,W,21,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
14947,20321,728,410,172,17,0,\N,W,22,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
14948,20322,728,305,26,\N,0,\N,W,23,0.0,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [15]:
results_drivers = pd.merge(results,drivers).copy()
results_drivers

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fastestLapTime,fastestLapSpeed,statusId,driverRef,code,forename,surname,dob,nationality,url
0,7554,1,18,23,22,1,1,1,1,10.0,...,1:28.020,216.891,1,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
1,7574,2,18,23,22,1,1,1,1,5.0,...,1:36.641,206.483,1,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
2,7596,3,18,23,22,5,3,3,3,6.0,...,1:53.546,172.825,1,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
3,7614,4,18,23,22,4,1,1,1,10.0,...,1:34.588,205.979,1,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
4,7634,5,18,23,22,1,1,1,1,10.0,...,1:22.899,202.149,1,button,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4078,26117,1112,857,1,81,7,12,12,12,0.0,...,1:25.072,245.142,1,piastri,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
4079,26132,1113,857,1,81,17,7,7,7,6.0,...,1:38.492,180.562,1,piastri,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
4080,26148,1114,857,1,81,2,3,3,3,15.0,...,1:36.328,217.021,1,piastri,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
4081,26167,1115,857,1,81,6,2,2,2,18.0,...,1:24.921,229.724,1,piastri,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
4082,26202,1116,857,1,81,10,\N,R,17,0.0,...,1:42.705,193.240,21,piastri,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri

In [ ]:
results_constructors = pd.merge(results,constructors).copy()